:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --dark-bg-text: #ffffff;
  --accent-logo-color: #000000;
  --dark-background: #2f303a;
  --main-backgroud: #e5e5e5;
  --header-background: #ffffff;
  --second-background: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.link-logo {
  text-decoration: none;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.container-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.works-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.works-set__item {
  margin-left: 30px;
  margin-top: 30px;
}

.works-set__subsection {
  padding: 20px 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.works-set__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.works-set__text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
}

.works-set__link {
  display: block;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-set__link:hover, .works-set__link:focus {
  color: var(--main-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-set__card-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.works-set__card-description {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-set__link:hover .works-set__card-description,
.works-set__link:focus .works-set__card-description {
  opacity: 1;
}

.works-set__link:hover .works-set__card-description,
.works-set__link:focus .works-set__card-description {
  transform: translateY(0);
}

.works-set__card-description-text {
  margin: 63px 24px 63px 24px;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: auto;
}

.page__page-header {
  background-color: var(--header-background);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.footer-section--dark-background {
  background-color: var(--dark-background);
}

.block__footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section__footer-item {
  margin-right: 70px;
}

.footer-section__footer-social {
  margin-right: 93px;
}

.footer-social {
  width: 206px;
  height: 80px;
}

.btn {
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--dark-bg-text);
  background-color: var(--accent-color);
  border: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color);
}

.page-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-bg-text);
}

.section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-bg-text);
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-bg-text);
}

.menu {
  display: inline-flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.menu__sublist {
  position: relative;
  color: var(--accent-color);
}

.menu__sublist::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts-header {
  display: flex;
}

.contacts-header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contacts-header__sublink {
  margin-left: 30px;
}

.contacts-header__icon {
  stroke: currentColor;
  margin-right: 10px;
}

.logo {
  display: inline-block;
  margin-right: 93px;
}

.logo-accent {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-logo-color);
}

.logo-accent--accent-color {
  color: var(--dark-bg-text);
}

.logo-accent__label {
  color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
  margin-top: -8px;
  margin-bottom: 34px;
}

.portfolio-list__item {
  border-radius: 4px;
  margin-left: 8px;
  margin-top: 8px;
}

.portfolio-list__button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--second-background);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__button:hover, .portfolio-list__button:focus {
  color: var(--dark-bg-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-social-icons {
  display: inline-flex;
}

.footer-social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icons__svg {
  fill: var(--dark-bg-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons__link:hover .footer-social-icons__svg,
.footer-social-icons__link:focus .footer-social-icons__svg {
  fill: var(--dark-bg-text);
}

.footer-social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons__link:hover, .footer-social-icons__link:focus {
  background-color: var(--accent-color);
}

.address {
  margin-top: 20px;
  font-style: inherit;
  color: var(--dark-bg-text);
}

.address__item {
  margin-bottom: 9px;
}

.address__link {
  margin-top: 9px;
  color: var(--dark-bg-text);
}

.address__link--accent-color {
  color: rgba(255, 255, 255, 0.6);
}

.contact-form {
  width: 570px;
  height: 50px;
}

.contact-form__wrap {
  display: flex;
}

.contact-form__field {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  text-align: left;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--dark-bg-text);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact-form__field:focus {
  border-color: rgba(33, 150, 243, 0);
  outline: 1px solid var(--accent-color);
}

.contact-form__subsection {
  position: relative;
  margin-left: 12px;
}

.contact-form__svg {
  position: absolute;
  top: 13px;
  left: 150px;
  margin-left: 10px;
}

.contact-form__button {
  width: 200px;
  height: 50px;
}

textarea {
  resize: none;
}

.block__portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: auto;
}

.page__page-header {
  background-color: var(--header-background);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.footer-section--dark-background {
  background-color: var(--dark-background);
}

.block__footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section__footer-item {
  margin-right: 70px;
}

.footer-section__footer-social {
  margin-right: 93px;
}

.footer-social {
  width: 206px;
  height: 80px;
}
/*# sourceMappingURL=portfolio.css.map */