@import "./utils/variables";

@import "./base/fonts";
@import "./base/common";
@import "./base/container";
@import "./base/works-set";

@import "./layouts/navigations";
@import "./layouts/page-header";
@import "./layouts/footer-section";

@import "./components/button";
@import "./components/titles";
@import "./components/menu";
@import "./components/contacts";
@import "./components/logo";
@import "./components/portfolio-list";
@import "./components/footer-social-icons";
@import "./components/address";
@import "./components/contact-form";

@import "./layouts/portfolio-section";
@import "./layouts/navigations";
@import "./layouts/page-header";
@import "./layouts/footer-section";
