.clients-icons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  // @media screen and (min-width: 768px) {

  // }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
.clients-icons__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 2 * 30 px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.clients-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-icons__svg {
  display: inline-flex;
  fill: #afb1b8;
  width: 106px;
  height: 60px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-icons__link:hover &,
  .clients-icons__link:focus & {
    fill: var(--accent-color);
  }
}
