.contacts-header {
  display: flex;
}

.contacts-header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contacts-header__sublink {
  margin-left: 30px;
}
.contacts-header__icon {
  stroke: currentColor;
  margin-right: 10px;
}
