.contacts-header {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts-header__item:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.contacts-header__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-header__sublink {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
.contacts-header__icon {
  stroke: currentColor;

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.icon-envelope {
  margin-right: 8px;
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}
.icon-smartphone {
  margin-right: 8px;
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
}
