.contact-form__wrap {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contact-form__field {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  text-align: left;
  padding-left: 16px;
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  color: var(--dark-bg-text);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    border-color: rgba(33, 150, 243, 0);
    outline: 1px solid var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0px;
  }
}

.contact-form__subsection {
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.contact-form__svg {
  margin-left: 10px;
}

.contact-form__button {
  padding: 10px 28px 10px 29px;
}

textarea {
  resize: none;
}
