.logo {
  display: inline-block;
  margin-right: 93px;
}

.logo-accent {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 1.19;
  color: var(--accent-logo-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
.logo-accent--accent-color {
  color: var(--dark-bg-text);
}
.logo-accent__label {
  color: var(--accent-color);
}
