.menu {
  display: inline-flex;
}

.menu__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.menu__sublist {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(33, 150, 243, 1);
  }
}
