.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  opacity: 1;

  transition: visiblity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 0%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 528px;
  min-height: 581px;
  background-color: var(--header-background);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--header-background);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__svg {
  width: 11px;
  height: 11px;
  fill: var(--accent-logo-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__button:focus &,
  .modal__button:hover & {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.modal__text {
  width: 448px;
  height: 23px;
  margin: 40px 40px 12px 40px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  align-items: center;
  text-align: center;
  color: var(--title-color);
}
