.page-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-bg-text);

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-bg-text);
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-bg-text);
}
