.works-set {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.works-set__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
.works-set__subsection {
  padding: 20px 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.works-set__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.works-set__text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
}

.works-set__link {
  display: block;
  color: var(--main-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-text-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.works-set__card-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.works-set__card-description {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .works-set__link:hover &,
  .works-set__link:focus & {
    opacity: 1;
  }

  .works-set__link:hover &,
  .works-set__link:focus & {
    transform: translateY(0);
  }
}
.works-set__card-description-text {
  margin: 19px 24px 29px 24px;
  width: 300px;
  height: 168px;
  font-size: 14px;
  line-height: 1.56;
  color: rgba(255, 255, 255, 1);

  @media screen and (min-width: 480px) {
    margin: 77px 24px 77px 24px;
    font-size: 18px;
    width: 402px;
  }
  @media screen and (min-width: 780px) {
    margin: 49px 24px 49px 24px;
  }
  @media screen and (min-width: 1200px) {
    margin: 63px 24px 63px 24px;
    font-size: 18px;
  }
}
