.footer-section--dark-background {
  background-color: var(--dark-background);
}
.block__footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section__footer-item {
  margin-right: 70px;
}

.footer-section__footer-social {
  margin-right: 93px;
}

.footer-social {
  width: 206px;
  height: 80px;
}
