.footer-section--dark-background {
  background-color: var(--dark-background);
}
.block__footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section__footer-item {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.footer-section__footer-social {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    margin-bottom: 0px;
  }
}

.footer-social {
  @media screen and (min-width: 1200px) {
    width: 206px;
    height: 80px;
  }
}
