.our-works {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.block__our-works {
  padding-bottom: 60px;
  padding-top: 0px;

  @media screen and (min-width: 1200px) {
    padding-top: 0px;
    padding-bottom: 94px;
  }
}
