.section-hero {
  max-width: 1600px;
}

@media screen and (max-width: 767.98px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Photo-WebStudio/mobile/hero/Hero_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Photo-WebStudio/mobile/hero/Hero@2x_mobile.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Photo-WebStudio/tablet/hero/Hero_tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Photo-WebStudio/tablet/hero/Hero@2x_tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    // height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Photo-WebStudio/desktop/hero/Hero_desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Photo-WebStudio/desktop/hero/Hero@2x_desk.jpg);
  }
}

.block__section-hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  // @media screen and (min-width: 768px) {
  //   padding-left: 204px;
  //   padding-right: 204px;
  // }

  // @media screen and (min-width: 1200px) {
  //   padding-top: 200px;
  //   padding-bottom: 200px;
  //   padding-left: 0px;
  //   padding-right: 0px;
  // }
}

.section-hero--dark-background {
  background-color: var(--dark-background);
}
.section-hero__center-button {
  text-align: center;
}
